.Main {
  padding-top: 60px;
  height: 100%;
  width: 100%;
}

.bg_img {
  background-image: url(./img/238870.jpg);
  opacity: 1;
  z-index: -3;
  background-repeat: no-repeat;
}

.text {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  z-index: -1;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
  opacity: 0.8;
}

.span {
  color: #d84a89;
}



.img-cards {
  padding-top: 20px;
  height: 500px;
  width: 100%;
}
