* {
  box-sizing: border-box;
}

.Upload-Photo-Route {
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  .wrapper {
    //border: 1px solid red;
    height: 100%;
    width: 100%;
    padding: 70px 20px;
    > .upload-photo-form {
      // border: 1px solid red;
      max-width: 900px;
      padding: 20px 30px;
      display: flex;
      margin: 0 auto;
      gap: 5px;
      flex-wrap: wrap;

      > .photo {
        height: 290px;
        border: 2px dashed #333;
        align-self: baseline;
        flex: 1;
        > img {
          width: 100%;
          height: 100%;
        }
      }

      > .input-group {
        width: 200px;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        // > .choose-btn {
        //   margin-bottom: 5px;
        //   > button {
        //     min-width: 200px;
        //     padding: 5px 3px;
        //     border-radius: 4px;
        //     border: 2px solid #333;
        //     outline: black;
        //     color: #e15189;
        //     background-color: #e1f8f0;
        //     font-weight: bold;
        //   }
        // }

        > .custom-select {
          width: 100%;
          > select {
            width: 200px;
            padding: 8px 10px;
            cursor: pointer;
            user-select: none;
          }
        }

        > div > input[type="text"] {
          width: 100%;
          padding: 8px 10px;
          box-sizing: border-box;
          border: 1px solid #333;
          border-radius: 4px;
          background-color: #f8f8f8;
        }

        > div > input[type="file"] {
          width: 200px;
          padding: 5px 3px;
          border-radius: 4px;
          border: 2px solid #333;
          outline: black;
          color: #e15189;
          background-color: #e1f8f0;
          font-weight: bold;
        }

        > div > textarea {
          width: 100%;
          height: 125px;
          padding: 8px 10px;
          box-sizing: border-box;
          border: 1px solid #333;
          border-radius: 8px;
          resize: none;
        }
      }
    }
    > .upload-btn {
      text-align: center;
      margin: 0 auto;
      margin-top: 40px;
      > button {
        min-width: 220px;
        padding: 10px 8px;
        border-radius: 6px;
        border-color: #eee3;
        color: white;
        background-color: #e15189;
        font-weight: bold;
      }
    }
    > .svg {
      max-width: 380px;
      display: inline-block;
      margin-top: -70px;
      > img {
        width: 100%;
      }
    }
  }
}
