* {
  box-sizing: border-box;
}

.User-Account-Route {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  > .wrapper {
    //border: 1px solid red;

    > .user-profile {
      padding-bottom: 42px;
      padding-top: 70px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      height: 100%;

      flex-wrap: wrap;
      gap: 48px;
      margin-bottom: 120px;

      display: flex;
      justify-content: center;

      > .avatar-box {
        // border: 1px double black;
        display: flex;
        align-items: center;

        > a {
          align-self: flex-start;
        }

        > .avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 5px double rgb(54, 50, 115);
          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: block;
            overflow: hidden;
            background-color: #eee;
          }
        }
      }

      > .about-box {
        max-width: 600px;
        > .user {
          display: flex;
          width: 100%;

          justify-content: space-between;
          align-items: baseline;

          > h2 {
            margin-top: 0;
            font-family: sans-serif;
          }

          > .user-icons {
            display: flex;
            justify-content: center;
            gap: 10px;

            > a {
              font-size: large;
              color: rgb(181, 177, 177);
            }
          }
        }

        > .description {
          font-size: small;
          color: rgb(156, 155, 155);
          line-height: 1.2;
          margin-top: 0;
        }

        > .socialMedia {
          > ul {
            display: flex;
            list-style: none;
            gap: 10px;
            padding-left: 0;

            > li {
              padding: 5px 10px;
              border: 0.5px dashed rgb(175, 195, 195);
              font-size: 10px;
              > a {
                text-decoration: none;
                color: #333;
              }
            }
          }
        }
      }
    }

    > .user-collections {
      margin-bottom: 60px;
      > ul {
        display: flex;
        list-style: none;
        border-bottom: 2px solid rgb(54, 50, 115);

        gap: 20px;
        padding-left: 0;
        margin: 0;
        > li {
          padding: 7px 0;
          > a {
            font-weight: 400;
            text-decoration: none;
            color: #333;
            font-size: 14px;
            &:hover {
              padding: 3px 7px;
              background-color: rgb(54, 50, 115);

              color: #e14b89;
              border-radius: 4px;
              font-style: italic;
            }
          }
        }
      }
    }
  }
  > .user-photos {
    max-width: 1200px;
    margin: 0 auto;

    padding: 10px;
    > .slider {
      border: 1px solid grey;
    }
    > .item {
      display: flex;
    }
  }
}
