* {
  box-sizing: border-box;
}
.User-Account-Route {
  padding: 70px 0;
  > .wrapper {
    padding: 50px 20px 0;
    > .user-profile {
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
      margin-bottom: 30px;
      > .avatar-box {
        display: flex;
        align-items: center;
        > a {
          align-self: flex-start;
          color: rgb(192, 59, 136);
        }
        > .avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 5px double rgb(54, 50, 115);
          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      > .about-box {
        max-width: 600px;
        > .user {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: baseline;

          > h2 {
            color: #333;
          }

          > .user-icons {
            display: flex;
            justify-content: center;
            gap: 10px;

            > a {
              font-size: large;
              color: rgb(181, 177, 177);
            }
          }
        }

        > .description {
          font-size: small;
          color: rgb(156, 155, 155);
          line-height: 1.2;
          margin-top: 0;
        }

        > .socialMedia {
          > ul {
            display: flex;
            list-style: none;
            gap: 10px;
            padding-left: 0;

            > li {
              padding: 5px 10px;
              border: 0.5px dashed rgb(175, 195, 195);
              font-size: 10px;
              > a {
                text-decoration: none;
                color: #333;
              }
            }
          }
        }
      }
    }

    > .user-collections {
      margin-bottom: 25px;
      > ul {
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        gap: 20px;
        padding-left: 0;
        margin: 0;
        > li {
          > h2 {
            font-weight: 400;
            color: #333;
            font-size: 16px;
            padding: 7px 14px;
            margin: 0;
            cursor: pointer;
            &:hover {
              font-style: italic;
              border-bottom: 2px dashed #e14b89;
            }
          }
        }
      }
    }

    > .user-photos {
      max-width: 1200px;
      margin: 0 auto;
      > .Main {
        > ul {
          gap: 20px;
          background: azure;
          padding: 10px 20px;
          border: 2px dashed #e14b89;
          > li {
            border: 1px solid rgba(173, 214, 214, 0.2);
            flex: 1 1 auto;
            position: relative;
            width: 336px;
            height: auto;
            background: rgba(173, 214, 214, 0.2);
            align-self: center;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            box-shadow: 8px 8px 15px grey;
            border: none;
            > .item {
              > img {
                width: 100%;
                border-top-left-radius: 24px;
                border-top-right-radius: 24px;
              }
              > .user-actions {
                padding: 5px 7px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                > .like {
                  background: #e1f8f0;
                  border: none;
                  font-size: 18px;
                  color: #333;
                  cursor: pointer;
                }

                > .download {
                  > svg {
                    color: #333;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
