.Login {
    display: flex;
    height: 100vh;

    > .content-left{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #e1f8f0;
        

        > .logo{
            cursor: pointer;
            > img{
                max-width: 250px;
            } 
        }

        > .login-image{
           > img{
            max-width: 500px;
           }
        }
    }
    > .content-right{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > .logo-responsive{
            display: none;
        }
        > .box{
            background-color: #e1f8f0;
            border: 1px solid #d7d7d7;
            width: 35%;
            height: 70%;
            padding:0 30px 30px 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            > .box-login{
                  width: 100%;
                > .toggle-register{
                    color: #ea4c89;
                    font-style: italic;
                    margin-bottom: 40px;
                    cursor: pointer;
                }

                > h1{
                    font-size: 30px;
                    color: black;
                }

                > .line{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;

                    
                    > span{
                        display: inline-block;
                        height: 1px;
                        background-color: #d7d7d7;
                        width: 100%;
                    }
                }
            }

            > .box-input{

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                > .input-signup{
                     display: flex;
                     padding-top: 30px;
                     gap: 40px;
                     justify-content: space-around;
                     
                    > .input-group{
                        width: 100%;
                     >  .label{
                         margin-bottom: 30px;
                         font-weight: bold;
                         font-size: 18px;
                           
                       }
        
                       > input{
                           border: none;
                           border-bottom: 3px solid #d7d7d7;
                           outline: none;
                           width: 100%;
                           margin-bottom: 60px;

                       background-color: #e1f8f0;
                           
                           
                       }
                    }
                }

                > .input-group{
                    width: 100%;
                  > .label{
                     margin-bottom: 30px;
                     font-weight: bold;
                     font-size: 18px;
                       
                   }
    
                   > input{
                       border: none;
                       border-bottom: 3px solid #d7d7d7;
                       outline: none;
                       width: 100%;
                       margin-bottom: 60px;
                       background-color: #e1f8f0;
                       
                   }
                }
    
                > button{
                    background-color: #ea4c89;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    padding: 10px 50px;
                    font-size: 20px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            

            
        }
    }

}

@media screen and (max-width: 1440px) {
    .Login {

   > .content-left{
            width: 40%;

            > .login-image{
               > img{
                max-width: 500px;
               }
            }
        }
        > .content-right{
            width: 60%;
            height: 100%;
            
            
            > .box{
                width: 60%;
                height: 60%;

                > .box-login{

                    > h1{
                        font-size: 40px;
                    }
                }
            }
        }
    
    }
    
}

@media screen and (max-width: 1024px) {
    .Login {

        > .content-left{
                 > .login-image{
                    > img{
                     max-width: 400px;
                    }
                 }
             }
             > .content-right{
                 > .box{
                     width: 70%;
                 }
             }
         }
}


@media screen and (max-width: 768px) {
    .Login {
       
        justify-content: center;
        align-items: center;
       
    
        > .content-left{
           display: none;
        }
        > .content-right{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .logo-responsive{
                display: block;
                > img{
                    width: 250px;
                }
            }
    
            > .box{
              
                width: 70%;
                height: 70%;
                justify-content: space-evenly;
               
    
                > .box-login{
    
                    > h1{
                        font-size: 40px;
                    }
    
                   
                } 
            }
        }
    }
}


@media screen and (max-width: 425px) {
    .Login {
       
        justify-content: center;
        align-items: center;
       
        > .content-right{
            > .box{
              
                width: 95%;
                height: 60%;  
            }
        }
    }
}